*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    padding: 50px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px #000;
    border-radius: 25px;
}
.generate {
    display: flex;
    margin-bottom: 50px;
    
}
input[type=color]{
    border: none;
    outline: none;
    width: 110px;
    height: 40px;
    margin-right: 40px;

}
input[type=text]{
    width: 110px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    font-weight: 800;
    margin-right: 40px;
}
input[type=submit]{
    width: 200px;
    height: 40px;
    background: #401cc39c;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #000;
    border-radius: 25px;
}